@page "/Session33/GithubProfileForm"
@inject IGithubService githubService

<h3>GithubProfileForm</h3>

<EditForm Model="@FormModel" OnValidSubmit="@OnSubmit">
    <div class="form-group">
        <label for="Username">Username</label>
        <InputText Id="Username" @bind-Value="@FormModel.Username" class="form-control"></InputText>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<GithubProfileDetailsComponent @ref="DetailsComponent"></GithubProfileDetailsComponent>

@code {
    GithubProfileFormModel FormModel = new GithubProfileFormModel();
    GithubProfileDetailsComponent DetailsComponent;

    public async Task OnSubmit()
    {
        DetailsComponent.LoadData(await githubService.GetProfileDetails(FormModel.Username));
    }
}
