@page "/Session24/DetailsPage"

<h3>DetailsPage</h3>
<button class="btn btn-dark" @onclick="@AddNewPerson">Add new Person</button>

@foreach (Person person in people)
{
    <PersonDetails @key="@person" person="@person"></PersonDetails>
}

@code {
    List<Person> people = new List<Person>
{
        new Person{ Id=1, FirstName = "Andie", LastName="Block"},
        new Person{ Id=2, FirstName="Allen", LastName="Alexander"},
        new Person{ Id=3, FirstName="James", LastName="Davis"},
        new Person{ Id= 4, FirstName="Stewart", LastName="Lawrence"}
    };

    private void AddNewPerson(MouseEventArgs args)
    {
        people.Insert(1, new Person { Id = 5, FirstName = "Mara", LastName = "Gibson" });
    }
}
