@page "/Session40/PartialClassDemo"
<h3>PartialClassDemo</h3>

<h1 class="display-4">@PageTitle</h1>
<img src="https://i.imgur.com/8W9UlMJ.png" width="100%" alt="Blazor" />

@foreach (var description in PageDescriptions)
{
    <p class="text-justify">@description</p>
}
