@attribute [Serializable]
@attribute [Obsolete("This component is Deprecated")]
@*@attribute [System.Runtime.InteropServices.DllImport("some.dll")]*@

<div id="@person.Id" class="card">
    <p><b>Id:</b> @person.Id</p>
    <p><b>FirstName:</b> @person.FirstName</p>
    <p><b>LastName:</b> @person.LastName</p>
</div>

@code {
    [Parameter]
    public Person person { get; set; }
}
