@page "/Session10/ParameterizedDemo"

<h3>ParameterizedDemo</h3>

<CustomBlockquote QuoteText="Put your heart, mind, and soul into even your smallest acts."
                  Category="Inspirational Quotes"
                  AutherName="Swami Sivananda">
</CustomBlockquote>

<CustomBlockquote QuoteText="It does not matter how slowly you go as long as you do not stop."
                  Category="Motivational Quotes"
                  AutherName="Confucius">
</CustomBlockquote>

<CustomBlockquote QuoteText="Life is 10% what happens to you and 90% how you react to it."
                  Category="Motivational Quotes"
                  AutherName="Charles R. Swindoll">
</CustomBlockquote>

<CustomBlockquote QuoteText="The best preparation for tomorrow is doing your best today."
                  Category="Inspirational Quotes"
                  AutherName="H. Jackson Brown">
</CustomBlockquote>

<CustomBlockquote QuoteText="No medicine was able to heal my pain, But a conversation with my best friend did."
                  Category="Love"
                  AutherName="Unknown">
</CustomBlockquote>
