@page "/Session7/BlazorPage"

<PageTitle></PageTitle>
<PageImage></PageImage>
<PageDescription></PageDescription>

<div class="p-3 mb-2 bg-dark text-white">
    Page end
</div>

<PageTitle></PageTitle>
